:root {
  --bkg-clr: rgb(238, 238, 238);
  --card-bkg-clr: rgb(255, 255, 255);
  --txt-clr: rgb(44, 44, 44);
  --trim-clr: rgb(119, 82, 183);
  --btn-hover-clr: rgb(116, 91, 205);
  --txt-hover-clr: rgb(200, 200, 180);
  --alt-border-clr: rgb(24, 24, 24);
  --alt-shadow-clr: rgb(119, 82, 183);
}


body {
  background-color: var(--bkg-clr);
  font-family: "Rubik", sans-serif;
  color: var(--txt-clr);
  position: relative;
  min-height: 100vh;
}

.navbar {
  padding: 2rem;
  background-color: var(--trim-clr);
}
.navbar-brand {
  font-size: 36px;
  color: white;
}
